#workbench-menu.display-none.h4.overflow-hidden
	.block.absolute-center.p1
		.title-font.h3.mid-gray
			Workbenches
		.full-width.workbench-hr
			%hr/
		%div
			%a.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.project-select-link.workbench-menu-width{:href => ""}
				.absolute-center.fit
					Authoring
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					Reviewing
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					Execution
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					HW Mgmt
			%br.md-show/
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					TRS/DR
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					Mate/De-Mate
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					Admin
			.inline-block.button.button-blue-outline.bg-white.h4.py3.m1.workbench-menu-width
				.absolute-center
					Search