#reset_password_content.display-none
	.p1.h4
		%form.absolute-center{:action => "/", :method => "post", :name => "login", :onsubmit => "/"}
			%input.field-light.width-200.m1{:autofocus => "", :name => "myid", :type => "text", :placeholder => "MyID"}/
			%br/
			%input.field-light.width-200.m1{:name => "email", :type => "email", :placeholder => "Email Address"}/
			%br/
			%br/
			%input.button.button-red.absolute-center{:value => "Reset Password", :type => "submit"}/
#request_account_content.display-none.h4.overflow-hidden
	Let Me In!
#about_popup_content.display-none.h4.overflow-hidden
	VERSION:
	%a{:href => "http://en.wikipedia.org/wiki/Cape_of_Good_Hope", :target => "_blank"} Good Hope
	(pre-production, 0.8.0)
