#grab_me.display-none
	.p1.h4
		%form.absolute-center{:action => "/", :method => "post", :name => "login", :onsubmit => "/"}
			%input.field-light.width-200.m1{:autofocus => "", :name => "myid", :type => "text", :placeholder => "MyID"}/
			%br/
			%input.field-light.width-200.m1{:name => "email", :type => "email", :placeholder => "Email Address"}/
			%br/
			%br/
			%input.button.button-red.absolute-center{:value => "Reset Password", :type => "submit"}/
#grab_me_2.display-none.h4.overflow-hidden
	Let Me In!