.menu-wrap
  %nav.menu
    .profile
      %img{:alt => "Matthew Greenberg", :src => "img/user1.png"}/
      %span Matthew Greenberg
    .icon-list
      %a{:href => "#"}
        %i.fa.fa-fw.fa-star-o
        %span Favorites
      %a{:href => "#"}
        %i.fa.fa-fw.fa-bell-o
        %span Alerts
      %a{:href => "#"}
        %i.fa.fa-fw.fa-envelope-o
        %span Messages
      %a{:href => "#"}
        %i.fa.fa-fw.fa-comment-o
        %span Comments
  %button#close-button.close-button Close Menu