/ page title
- @title="CAPE{RT}:Select Project"
/ page body
.clearfix.top-0.bg-mid-gray.white.px1
	.table.table-fixed
		.table-cell.left-align.h3.italic
			%span.sm-show
				Content Left
			%span.sm-hide 
				%i.fa.fa-align-justify
		.table-cell.center.h4.bold
			CAPE
			%sup> {RT}
			%span.md-show= h(" | Project Selection")
		.table-cell.right-align.h4
			= render partial: "user_menu"

.block.absolute-center.p1
	%div
		%a.inline-block.button.button-blue-outline.bg-white.h4.p4.m1.project-select-link{:href => "dashboard"}
			.absolute-center
				Sandbox 1
				%br/
			.h5.absolute-center.p1
				%input{:type => "checkbox"} set as default
		.inline-block.button.button-blue-outline.bg-white.h4.p4.m1
			.absolute-center.project-select-link
				Program A
				%br/
			.h5.absolute-center.p1
				%input{:type => "checkbox"} set as default
		.inline-block.button.button-blue-outline.bg-white.h4.p4.m1
			.absolute-center
				Program B
				%br/
			.h5.absolute-center.p1
				%input{:type => "checkbox"} set as default
		%br.lg-show/
		.inline-block.button.button-blue-outline.bg-white.h4.p4.m1
			.absolute-center
				Program C
				%br/
			.h5.absolute-center.p1
				%input{:type => "checkbox"} set as default
		.inline-block.button.button-blue-outline.bg-white.h4.p4.m1
			.absolute-center
				Program D
				%br/
			.h5.absolute-center.p1
				%input{:type => "checkbox"} set as default
		.inline-block.button.button-blue-outline.bg-white.h4.p4.m1
			.absolute-center
				Program E
				%br/
			.h5.absolute-center.p1
				%input{:type => "checkbox"} set as default