<div id="modal" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Reset CAPE Password</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </header>
 
    <section class="popupBody">
    <!-- Here Goes all the Login and signup Forms -->
		<div class="user_register">
		    <form>
		        <label>MyID</label> <input type="text" name="myid"><br />
		        <label>Email Address</label> <input type="email" name="email"><br /><br />
		
		        <div class="action_btns">
		                <a class="btn btn_red" href="#">Reset Password</a>
		        </div>
		    </form>
		</div>
    </section>
</div>
