// Place all the styles related to the authoring controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.controller-authoring, html.controller-authoring {
	background-color: #c9dbe9;
    height: 100%;
}

.authoring-step {
	max-width: 700px;
	vertical-align: top;
}

#step-number {
	vertical-align: top;
}

.step-content {
	vertical-align: top;
	line-height: 0.9em;
	font-size: 0.8em;
}

textarea#step {
	resize: none;
	border: none;
}
textarea#step:focus {
    border:1px solid #FF6600;
    box-shadow: 0 0 10px #719ECE;
}