// Place all the styles related to the authoring controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.controller-authoring, html.controller-authoring {
	background-color: #FFE0CC;
    height: 100%;
}
.authoring-title-bg {
	background-color: #FF6600;
}