// Place all the styles related to the project-select controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.controller-project_select, html.controller-project_select {
	background-color: #c9dbe9;
    height: 100%;
}

.project-select-link a {
	display: inline-block;
	width: 100%;
  	height: 100%;
}