.workbench-menu-width {
	width: 150px;
}
.workbench-hr hr {
	background: #777;
	color: #000;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
